body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    height: 100vh;


}

canvas {
    margin: 0px !important;
}

.gameWrapper {
    width: 800px;
    height: 600px;
}